<div class="box">
  <h1>Edit account</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="edit-user-form">
            <div class="text-danger"></div>
            <input type="hidden" asp-for="Id" id="id-user" value="@Model.Id"/>
            <div class="form-group">
                <label class="control-label">Username</label>
                <input [(ngModel)]="account.username" [ngModelOptions]="{standalone: true}" id="username" class="form-control" minlength="2" required />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input [(ngModel)]="account.email" [ngModelOptions]="{standalone: true}" asp-for="Email" id="email" type="email" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input (click)="editAccount()" type="submit" value="Edit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div class="mt-2">
    <a class="btn btn-dark">
        <span class="icon text-white-50">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </span>
        <span class="text" routerLink="/account" > Cancel</span>
    </a>
</div>
</div>
