<div class="modalCustom">
  <span aria-hidden="true" style="cursor:pointer; float:right;" (click)="closeModal()">×</span><br/>
  <input type="hidden" id="id" value="@Html.DisplayFor(id)" hidden/>
  <span>
    Filename:
      <a> {{filename}}</a>
  </span>
  <br/>
  <span>
    File Type:
      <a> {{contentType}}</a>
  </span>
  <br/>
  <span>
    File Size:

      <a> {{size}}</a>
  </span>
  <br/>
  <span>
    Upload Date:
      <a> {{addedDate | date : "dd/MM/yyyy HH:mm"}}</a>
  </span>
  <br/>
  <br/>
  <button class="btn btn-success" style="background-color:#027313" (click)="closeModal()">
    Ok
  </button>
</div>


