.file-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.file-size {
  width: 16.666%;
}

.hovercustom:hover{
  cursor: pointer;
}

.limitstring{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
}

.emptyWarning{
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
}

.modalCustomPointer:hover{
  cursor:pointer;
}

.file-container{
  border: 4px solid black;
  width: 300px;
}

.file{
  opacity: 0;
  padding: 5rem;
  width:auto;
  height:auto;
}

.customHover:hover{
  cursor:pointer;
}

.context-menu {
  position: fixed;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 10;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu li {
  cursor: pointer;
  padding: 5px;
}

.context-menu li:hover {
  background-color: #ccc;
}
