.customHover:hover{
  cursor:pointer;
}

.context-menu {
  position: fixed;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu li {
  cursor: pointer;
  padding: 5px;
}

.context-menu li:hover {
  background-color: #ccc;
}
